extends layout

block content
	h2 Welcome to Chromecast Against Humanity
	p Chromecast Against Humanity is a simple adaptation of the popular Cards Against Humanity card game onto the Chromecast platform.
	p This is mostly a proof of concept and learning opportunity for myself.
