doctype html
html
	head
		title Chromecast Against Humanity
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

		script(type='text/javascript', src='/socket.io/socket.io.js')
	body
		h1 Chromecast Against Humanity

		ul#nav
			li: a(href="/") Home
			li: a(href="/users") Users
			li: a(href="/cards") Cards
			li: a(href="/game") Game
			li: a(href="/receiver") Receiver

		block content