doctype html
html
	head
		title Chromecast Against Humanity
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css', media="screen and (min-width: 800px)")

		script(type='text/javascript', src='/socket.io/socket.io.js')
		script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script(type='text/javascript', src='/javascripts/scripts.js')

	body
		#container
			#header
				if activeuser
					#user: a(href='/users/' + activeuser.username) #{activeuser.username}
				else
					#user: a(href="/users/login") Login
				h1 Chromecast Against Humanity
				hr
			#body
				ul#nav
					li: a(href="/") Home
					li: a(href="/users") Users
					li: a(href="/cards") Cards
					li: a(href="/game") Games
					li: a(href="/receiver") Receiver
				hr
				#content
					if flasherror.length > 0
						.error Error: #{flasherror}
					if flashmsg.length > 0
						.message Message: #{flashmsg}
					block content

			#footer
				hr
				div Copyright Ryan Kortmann