html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
#info {
  box-shadow: 0 0 15px #555;
  overflow: auto;
  padding: 0 1em;
}
#info .points {
  float: right;
  font-size: 14pt;
  margin-top: 1em;
}
#info .points >span {
  font-weight: bold;
}
#cardsContainer {
  height: 100%;
}
#cards {
  margin: 0;
  padding: 0;
  height: 100%;
}
#cards div {
  height: 100%;
}
.card {
  position: relative;
  margin: 0 10px;
  top: 5%;
  height: 90%;
  max-height: 400px;
/*width 200px
	height 300px*/
  border-radius: 10px;
  box-shadow: 0 0 15px #555;
}
.card .text {
  font-size: 300%;
  line-height: 1em;
  padding: 0.5em;
  overflow: auto;
}
.card .text span {
  color: #f00;
}
.card .expansion {
  position: absolute;
  display: block;
  text-align: center;
  bottom: 5px;
  width: 100%;
}
.card.question {
  background-color: #000;
  color: #fff;
}
.card.answer {
  background-color: #fff;
  color: #000;
}
