*
	box-sizing border-box

body
	font 14px Helvetica, Arial, sans-serif
a
	color #00B7FF

.btn
	margin-left 5px
	margin-right 5px

#header
	background-color black
	color white
	position relative
	z-index 50
	
	.user
		float right
		
		a
			color white
	
	h1
		margin 0
		padding 10px 0
		font-weight bold
	
	.inner
		overflow auto
		width 1024px
		margin auto
		padding 1em
		padding-bottom 0

#container
	width 1024px
	margin 0 auto
	padding 1em

	box-shadow 0 0 10px #ccc
	border-bottom-right-radius 10px
	border-bottom-left-radius 10px

#content
	padding 0 1em

#nav
	list-style-type none
	margin 0
	padding 0
	
	li
		display block 
		float left
		overflow auto
		height 100%
		
		a
			color white
			display block
			background-color black
			font-size 14pt
			padding 0.5em 1em
			transition background-color 0.25s
			
			&:hover
				background-color white
				color black
				text-decoration none

#card-list
	background-color #eee
	
	>div
		width 50%
		padding 1em
		float left

#example
	text-align center
		
.card
	position relative
	display inline-block
	margin 10px
	width 200px
	height 300px
	border-radius 10px
	box-shadow 0 0 15px #555
	
	.text
		font-size 14pt
		padding 0.5em
		height 275px
		overflow auto
		
		span
			color red;

	.expansion
		position absolute 
		display block
		text-align center
		bottom 5px
		width 100%
		
.card.question 
	background-color black
	color white
	
.card.answer
	background-color white
	color black