*
	box-sizing border-box
body
	padding: 50px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
	color: #00B7FF

#nav
	list-style-type none
	margin 0
	padding 0
	
	li
		display inline-block 
		
		a
			padding 1em

#card-list
	background-color #eee
	
	>div
		width 50%
		padding 1em
		float left
		
	ol
		li
			overflow auto
			margin 2px 0
			border-bottom 1px solid #eee
			
			span
				float right
				font-size 9pt
				text-transform uppercase
				
				padding 3px
				margin 5px 0
				background-color #555
				color white
			
			div
				padding 3px