* {
  box-sizing: border-box;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#container {
  width: 800px;
  margin: 1em auto;
  padding: 1em;
  box-shadow: 0 0 10px #ccc;
  border-radius: 10px;
}
#content {
  padding: 0 1em;
}
#user {
  float: right;
}
#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#nav li {
  display: inline-block;
}
#nav li a {
  padding: 1em;
}
#card-list {
  background-color: #eee;
}
#card-list >div {
  width: 50%;
  padding: 1em;
  float: left;
}
#example {
  text-align: center;
}
.card {
  position: relative;
  display: inline-block;
  margin: 10px;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 15px #555;
}
.card .text {
  font-size: 14pt;
  padding: 0.5em;
  height: 275px;
  overflow: auto;
}
.card .text span {
  color: #f00;
}
.card .expansion {
  position: absolute;
  display: block;
  text-align: center;
  bottom: 5px;
  width: 100%;
}
.card.question {
  background-color: #000;
  color: #fff;
}
.card.answer {
  background-color: #fff;
  color: #000;
}
