*
	box-sizing border-box
body
	padding: 50px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
	color: #00B7FF

#nav
	list-style-type none
	margin 0
	padding 0
	
	li
		display inline-block 
		
		a
			padding 1em

#card-list
	background-color #eee
	
	>div
		width 50%
		padding 1em
		float left

#example
	text-align center
		
.card
	position relative
	display inline-block
	margin 10px
	width 200px
	height 300px
	border-radius 10px
	box-shadow 0 0 15px #555
	
	.text
		font-size 200%
		padding 0.5em
		height 275px
		overflow auto

	.expansion
		position absolute 
		display block
		text-align center
		bottom 5px
		width 100%
		
.card.question 
	background-color black
	color white
	
.card.answer
	background-color white
	color black