* {
  box-sizing: border-box;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#nav li {
  display: inline-block;
}
#nav li a {
  padding: 1em;
}
#card-list {
  background-color: #eee;
}
#card-list >div {
  width: 50%;
  padding: 1em;
  float: left;
}
#card-list ol li {
  overflow: auto;
  margin: 2px 0;
  border-bottom: 1px solid #eee;
}
#card-list ol li span {
  float: right;
  font-size: 9pt;
  text-transform: uppercase;
  padding: 3px;
  margin: 5px 0;
  background-color: #555;
  color: #fff;
}
#card-list ol li div {
  padding: 3px;
}
