extends ../layout

block content
	h2 Create
	if response.error
		.error #{response.error}
	form(method='POST')
		div
			span Name: 
			input(type='text', name='name')
		div
			input(type='submit', value='Create')
