extends ../layout

block content
	h2 Games
	ul#gameList
		each game in response.games
			li
				.creator
					em Creator: <strong>#{game.creator}</strong>
				a(href='/game/' + game.name) #{game.name}
	a(href='/game/create', class='btn btn-default') Create Game