extends ../layout

block content
	h2 Ready Up
	hr

	h3 <strong>Players</strong>
	if response.game.players.length > 0
		ul#readyList
			each player in response.game.players
				li
					if player.username == activeuser.username
						.status: a(href='readyToggle?to=' + response.readyUrl, class='btn ' + response.readyClass) #{response.readyText}
					else
						.status #{player.status}
					.name #{player.username}
	else
		p: em No players are connected...


	#myChromecast
		input(type='button', value='No Chromecast found on this Network', id='openSession', disabled="disabled", class='btn btn-default')
	h3 <strong>Chromecasts</strong>
	ul#chromecastList
		if response.game.chromecasts.length > 0
			each chromecast in response.game.chromecasts
				li #{chromecast.username}
		else
			li: em No chromecasts are connected...

	p
		a(href='join', class='btn btn-default') Join Game

	