extends ../layout

block content
	h2 Tests

	div
		input(type='button', value='Open Session', id='openSession')
		br
		br
	div
		input(type='text', id='input')
		input(type='button', value='Send', id='textSubmit')
	div
		input(type='button', value='Example Cards', id='examples')
	#debugmessage

	script(type='text/javascript', src='http://www.gstatic.com/cv/js/sender/v1/cast_sender.js')
	script(type='text/javascript', src='/javascripts/sender.js')
	script(type='text/javascript', src='/javascripts/sender_server.js')

	