extends ../layout

block content
	h2 List of cards
	#card-list
		div
			h3 Questions
			ol
				each question in questions
					li
						span #{question.expansion}
						div #{question.text}

		div
			h3 Answers
			ol
				each answer in answers
					li
						span #{answer.expansion}
						div #{answer.text}