extends ../layout

block content
	h2 Login
	form(method='POST')
		div
			span Username: 
			input(type='text', name='username')
		div
			span Password: 
			input(type='password', name='password')
		div
			input(type='submit', value='Login')